@model TextCorrector.Models.TextFieldValue
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Text Corrector</h2>
    <p>Input your text</p>

    <form method="post">
        <input asp-for="Text" type="text" class="form-control" />
        <button type="submit" asp-action="Correct">Correct</button>
    </form>

</div>
